<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Listing Users</h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Email</th>
          <th>Phone</th>
          <th>Page</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.email, user %></td>
            <td><%= user.phone %>
            <td><%= link_to 'Page', '#', class: "btn btn-default"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>
</div>