<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'User Index', "#" %></li>
<li><%= link_to 'Show Profile', "#" %></li>
<li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
